.divider {
  border: none;
  margin: 0;
  flex-shrink: 0;
  background-color: var(--finra-color-border);

  &.horizontal {
    inline-size: 100%;
    block-size: var(--finra-border-thin);
  }

  &.vertical {
    block-size: 100%;
    inline-size: var(--finra-border-thin);
    align-self: stretch;
  }
}
