@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inclusive Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/InclusiveSans-BoldItalic.ttf") format("truetype");
}
